<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Consulta de Boletines</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <!-- Encabezado -->
    <header class="text-white text-center py-5" style="background-image: url('https://img.freepik.com/vector-gratis/gradiente-formas-geometricas-sobre-fondo-oscuro_23-2148423541.jpg?t=st=1729465874~exp=1729469474~hmac=922fc7cfb907abcad09fb20c1eaa3a93b9f51bd0007aa1d8b7546f31ee803f6a&w=996'); background-size: cover; height: auto; padding: 50px 20px;">
        {% if request.user.is_authenticated %}
        <h1>Bienvenido, {{ user.username }},a la Sección de Boletines!</h1>
        {% else %}
            <h1>Bienvenido, invitado a la Sección de Boletines!</h1>
        {% endif %}    
    
    </header>

    <!-- Contenido Principal con fondo -->
    <main class="container my-5" style="background-image: url('https://img.freepik.com/vector-premium/fondo-escena-amarilla-verano-3d_317810-4653.jpg?w=1060'); background-size: cover; padding: 20px; border-radius: 10px; min-height: 60vh;">
        <div class="row">
            <!-- Sección de Boletines -->
            <div class="col-md-6">
                <h2>Filtrar Boletines</h2>
                <form action="/index/boletin/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="titulo">Título</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Ingrese el título">
                    </div>

                    <div class="form-group">
                        <label for="ciudad_tratada">Ciudad tratada</label>
                        <input type="text" class="form-control" id="ciudad_tratada" name="ciudad_tratada" placeholder="Ingrese la ciudad">
                    </div>
                    
                    <div class="form-group">
                        <label for="tematica">Temática</label>
                        <input type="text" class="form-control" id="tematica" name="tematica" placeholder="Ingrese la temática">
                    </div>
                    
                    <button type="submit" class="btn btn-primary mt-3">Filtrar</button>
                </form>
            </div>
                <!-- Resultados de los Boletines -->
            <div class="col-md-6">
                <h2>Resultados</h2>
                    <ul>
                        {% for fuente in resultados %}
                            <li>Título: {{ fuente.titulo }} <br>
                                Ciudad tratada: {{ fuente.ciudad_tratada }} <br>
                                Temática: {{ fuente.tematica }} <br>
                                Fecha: {{ fuente.fecha_creacion }} <br>
                                <a href="{% url 'ver_fuente' fuente.fuente_boletin_id %}">(Ver fuentes)</a><br>
                            </li>
                        {% empty %}
                            <li>No se encontraron resultados</li>
                        {% endfor %}
                    </ul>

            </div>
            </div>

        </div>
    </main>

    <!-- Pie de Página -->
    <footer class="bg-light text-center py-3">
        <p style="margin: 0; padding: 0 20px;">
            <a href="/index/home/agregar_fuentes" class="fw-bold text-body" style="float:left; margin-right: auto;">
                ¿Quiere agregar más fuentes?</a>
            <a href="/index/home/subir_boletines" class="fw-bold text-body" style="float:right; margin-left: auto;">
                ¿Quiere subir nuevos boletines?</a>
        </p>
        <br>
    </footer>
    

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
